
.sidebar-icon {
    opacity: 0;
    display: none;
}

.sidebar-menu {
    position: absolute;
    opacity: 0;
    z-index: 30;
    top: 0;
    left: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background: #3b281f;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

/*Tablet Size*/
@media (max-width: 990px) {
}

/*Mobile Landscape Size*/
@media (max-width: 768px) {
    .sidebar-icon {
        display: block;
        font-size: 32px;
        opacity: 100%;
        right: 1.9rem;
        top: 0.2rem;
        margin-top: 0.5rem;
        position: absolute;
        color: #fff;
        z-index: 40;
    }

    .sidebar-menu {
        position: absolute;
        opacity: 0;
        z-index: 35;
        top: 0;
        left: 0;
        display:flex;
        width: 100vw;
        height: 100vh;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        background: #3b281f;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-size: 24px;
        transition: 0.3s ease-in-out;
    }
}

@media (max-width: 480px) {
    .sidebar-menu {
        font-size: 18px;
    }   
}

@media (max-width: 240px) {
    .sidebar-menu {
        font-size: 14px;
    }   
}