* {
    box-sizing: border-box;
    margin: 0;
}

.hero-section-container {
    width: 100%;
    background-size: contain;
}

.hero-section-image {
    width: 100%;
    height: 700px;
}

.hero-heading {
    position: absolute;
    color: #902424; 
    color: white;
    max-height: 180px;
    max-width: 758px;
    top: 45vh;
    left: 15vw;
    font-family: 'Luckiest Guy', cursive;
    font-size: 64px;
}

.heroHeadingOverlay {
    /* background: #E4B49D;*/
    opacity: 50%; 
    background: black;
    position: absolute;
    top: 45vh;
    left: 12vw; 
    min-width: 60%;
    min-height: 150px;
}   
