.hero-section-container {
    width: 100%;
    background-size: contain;
}

.hero-section-image {
    width: 100%;
    height: 700px;
}

.hero-heading {
    position: absolute;
    color: white;
    max-height: 180px;
    max-width: 758px;
    top: 45vh;
    left: 15vw;
    font-family: 'Luckiest Guy', cursive;
    font-size: 64px;
}

.heroHeadingOverlay {
    opacity: 0.5; 
    background: black;
    position: absolute;
    top: 45vh;
    left: 12vw; 
    min-width: 60%;
    min-height: 150px;
}   

/*Tablet Size*/
@media (min-width: 930px) and (max-width: 990px) {  
    .heroHeadingOverlay {
        width: 80%;
    }

}

/*Tablet Size*/
@media (min-width: 768px) and (max-width: 929px) {  
    .hero-heading {
        top: 30vh;
        left: 0vw;
        padding: 0 0.5rem;
        text-align: center;
        font-size: 58px;
    }
    
    .heroHeadingOverlay {
        width: 90%;
        top: 30vh;
        padding: 0 0.5rem;
        left: 4vw; 
    }

    .hero-section-image {
        width: 100vw;
        height: 100vh;
    }
}

/*Mobile Landscape Size*/
@media (min-width: 480px) and (max-width: 767px) {  
    .hero-heading {
        top: 50vh;
        left: 0vw;
        font-size: 50px;
        text-align: center;
        padding: 0 0.5rem;
    }

    .heroHeadingOverlay {
        top: 50px;
        left: 0; 
        width: 100vw;
        height: 100vh;
    }

    .hero-section-image {
        width: 100vw;
        height: 100vh;
    }
}

/*Mobile Portrait Size*/
@media (min-width: 240px) and (max-width: 479px) {  
    .hero-heading {
        top: 40vh;
        left: 0vw;
        font-size: 45px;
        padding: 0 0.5rem;
        text-align: center;
    }
    
    .heroHeadingOverlay {
        opacity: 0.5;
        top: 50px;
        left: 0; 
        width: 100vw;
        height: 100vh;
    }

    .hero-section-image {
        width: 100vw;
        height: 100vh;
    }
}